// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:		'Dosis', Roboto, Georgia, "Times New Roman", Times, serif;
$font-family-google: Roboto, "Helvetica Neue";
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-serif;


// Colors
//
// Overall color themeing
$blue: #2196F3;
$red: #f44336;
$grey400: #bdbdbd;
$grey200: #cfd8dc;
$grey100: #eceff1;
$grey: #eceff1;
$jumbotron-padding: 7rem;
$padding: 100px;

// Custom Classes
//
// My custom classes go below here.

//Custom Backgrounds
.bg-grey {
  background-color: $grey200;
}
p {
  margin-bottom: 0rem !important;
}
.bg-blue { 
	background-color: $blue;
  color: white;
}
.bg-red {
  background-color: $red;
}
.white {
  color: white;
}
.photos {
  width: 12em;
}
.thicker {
    font-weight: 600;
}
.card-img-top {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top; 
  height: 300px !important;
  overflow: hidden;
}
/*.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */
.shadow1{
  @include shadow(1);
}
.shadow2{
  @include shadow(2);
}
.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2) !important; 
	background-image: url("./img/capitol_clear.png");
	background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: 2rem !important;
  margin: 0px 0px 0px 0px;
  @include shadow(2);
}

.bigger-box {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -32px;
  @include shadow(2);
}

.bd-footer {
  background-color: #f5f5f5;
  width: 100%;
  height: 60px;
  bottom: 0;
  line-height: 60px;
  padding-bottom: 3rem;
} 

footer {
  bottom: 0 !important;
}

.card {
  transition:all 550ms;
  @include shadow(2);
  &:hover,&:focus {
    @include shadow(4);
    transform:translateY(-5px);
  }
  &:active {
    @include shadow(3);
    transform:translateY(-2px);
  }
} 

//custom form stylings to make them look like google
//https://scotch.io/tutorials/google-material-design-input-boxes-in-css3#update!-no-js-necessary!
//

//input {
  //margin-top: 10% !important;
//}


input {
  font-size:18px;
  padding:20px 10px 10px 5px;
  display:block;
  width:300px;
  color: white;
  background-color: $blue;
  border:none;
  border-bottom:1px solid $grey400;
}
input:focus     { outline:none; }


input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
/*
.group { 
  position:relative; 
  margin-bottom:45px; 
}
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #eeeeee; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
*/